<style>
  .btn{
    font-size: 18px;
    color: white;
    padding: 12px 12px;
    background: #5E4485;
    border: 1px solid #FFF;
    border-radius: 5px;

  }
  .btn2{
    font-size: 18px;
    color: white;
    padding: 12px 12px;
    background: rgb(68, 133, 124);
    border: 1px solid #FFF;
    border-radius: 5px;
  }
  /* @media (max-with:600px) */
</style>
<br>
<div class="jumbotron text-center" style="color: black;">
  <div id="grandtitre" style="color: #363636;">
  <h1>BIENVENU A COVOITURAGE APP</h1>
  </div>
  <p class="lead">
      "Notre nouvelle application de covoiturage  est arrivée !
      Encore plus pratique, elle vous permet d’organiser vos covoiturages de A à Z facilement.
      Voilà qui va vous simplifier la vie pour organiser vos trajets "<br>
         Inscrivez-vous maintenant ! 
         
  </p>
  <button type="button" class="btn btn-default" [routerLink]="['/register']">Register</button>
  <button type="button" class="btn2 btn-default" [routerLink]="['/login']">Login</button>
    
  
  </div>

<div class="container text-center">
  <h2> Book a Trip Now !</h2>
  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>

</div>
<!-- <div class="container text-center">
  <h2>Book a trip now !</h2>
</div> -->
  <div class="row">
    <div class="col-md-4">
      <h3>Expresse Backend</h3>
      <p>1 : kjhgfdfghjkljhgfdfghjklk jhgvcxcvbn,;:,nbvcxdfghjkloiuhygtfdfghjklm</p>
    </div>
    <div class="col-md-4">
        <h3>Angular-cli</h3>
        <p>2 : kjhgfdfghjkljhgfdfghjklk jhgvcxcvbn,;:,nbvcxdfghjkloiuhygtfdfghjklm</p>
      </div>

      <div class="col-md-4">
          <h3>JWT tokens </h3>
          <p>3: kjhgfdfghjkljhgfdfghjklk jhgvcxcvbn,;:,nbvcxdfghjkloiuhygtfdfghjklm</p>
      </div>
  </div>


    <!-- <div id="myCarousel" class="carousel slider" data-ride="carousel">
      <ol class="carousel-Indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carouel-inner" role="listbox">
        <div class="item active">
          <img src="homeimage1.png">
          <div class="carousel-caption">
              <h1>Bienvenu à Covoiturage</h1> 
              <br>
              <button type="button" class="btn btn-default">Get Started</button>
              <!-- <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
              <a class="btn btn-info" [routerLink]="['/login']">Login</a> -->
      <!-- </div>
    </div> - End Slider --> 
